/*  FILE: Micheal Waldrup Portfolio
    05/27/20
    https://github.com/waldrupm
*/

/* Generic reset */
* {
    margin: 0;
    padding: 0;
}

/* Set up type scale, setting base size to 18px*/

/* 
    h1 3.052em
    h2 2.441em
    h3 1.953em
    h4 1.563em
    h5 1.25em 
*/

html {
    font-size: 112.5%;
}

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.65;
}

header {
    box-sizing: border-box;
}

nav.nav-links {
    display: inline-block;
    margin-left: auto;
}

.nav-link {
    margin-left: 1em;
    color: black;
}

.container {
    max-width: 1092px;
    width: 80%;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1.25em;
}

.title-name {
    color: black;
    text-decoration: none;
    font-size: 1.563em;
}

.hero {
    margin: 20px 0;
}

.hero-container {
    display: grid;
    height: 450px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.hero-left {
    background-color: #999;
}

.hero-right {
    background-color: #ff0;
}